# Application Configuration
APP_PORT=8001                                    # Port number for the application server
PINO_LOG_LEVEL=info                             # Log level (trace/debug/info/warn/error/fatal)

# Database Configuration
DATABASE_URL=mongodb://localhost:27017/          # MongoDB connection URL
DB_NAME=users-service           

# Redis connection
REDIS_HOST=redis://localhost:6379
REDIS_PORT=6379
REDIS_PASSWORD=superusername
REDIS_DB=0
REDIS_USERNAME=default

# JWT Configuration
JWT_ACCESS_SECRET=secret                         # Secret key for JWT access tokens
JWT_REFRESH_SECRET=refreshSecret                 # Secret key for JWT refresh tokens
JWT_TOKEN_FOR_ACTION_SECRET=actionToken          # Secret key for action-specific tokens

# Authentication Configuration
MASTER_OTP=111111                               # Master OTP for development/testing

# Default Super Admin Configuration
DEFAULT_SUPER_ADMIN_USERNAME=superusername            # Default username for super admin
DEFAULT_SUPER_ADMIN_EMAIL=superusername@gmail.com     # Default email for super admin
DEFAULT_SUPER_ADMIN_PASSWORD=Superusername@123            # Default password for super admin

# Microservices URLs
NOTIFICATION_SERVICE_BASE_URL=http://localhost:8002  # Base URL for notification service
USER_SERVICE_BASE_URL=http://localhost:8001         # Base URL for user service

# Google OAuth Configuration
GOOGLE_CLIENT_ID=yourId.apps.googleusercontent.com      # Google OAuth client ID
GOOGLE_CLIENT_SECRET=google-client-secret              # Google OAuth client secret
GOOGLE_CLIENT_URL=http://localhost:8001/api/v1/auth/google/callback  # Google OAuth callback URL

# CORS Configuration
CLIENT_URL=http://localhost:3000                 # Frontend client URL

# JWT RSA Keys (Replace with actual RSA keys)
PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCh2omMxTPcCcNk
... (rest of private key) ...
-----END PRIVATE KEY-----"

PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0vx7agoebGcQSuuPiLJX
... (rest of public key) ...
-----END PUBLIC KEY-----"